$corMenu: #2f3134;
$corLinha: #ebedef;
$corIcon: #0031FF;

// Cor Menu
$corG1: #c4170C;
$corOGlobo: #1E4C9A;
$corValor: #006767;
$corGe: #06AA48;
$corCartola: #FF7400;
$corGloboplay: #FB0234;
$corGshow: #FF6700;
$corQuem: #333333;
$corReceitas: #A5147D;
$corGigaGloob: #00C4A2;