@import 'reset';
@import 'cores';
@import 'cabecalho';

body {
    width: 100%;
    display: flex;
    justify-content: center;

    .page {
        width: 100%;
        max-width: 1000px;
        margin: 0 20px;
        border: solid 1px red;
    }
}