@import 'reset';
@import 'cores';
@import 'cabecalho';
@import 'corpo';

body {
    width: 100%;
    display: flex;
    justify-content: center;

    .page {
        width: 100%;

    }
}

// Estilos gerais;
.logo {
    height: 40px;
}

.icon-site {
    font-size: 20px;
    color: $corIcon;
}

.img-noticia {
    width: 250px;
}

.G1 {
    color: $corG1;
}

.OGLOBO {
    color: $corOGlobo;
}

.VALOR {
    color: $corValor;
}

.GE {
    color: $corGe;
}

.CARTOLA {
    color: $corCartola;
}

.GLOBOPLAY {
    color: $corGloboplay;
}

.GSHOW {
    color: $corGshow;
}

.QUEM {
    color: $corQuem;
}

.RECEITAS {
    color: $corReceitas;
}

.GIGAGLOOB {
    color: $corGigaGloob;
}