* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #2f3134;
  letter-spacing: 1px;
}

.cabecalho {
  width: 100%;
}

.cabecalho .topo {
  display: grid;
  grid-template-columns: 200px 1fr 280px;
  padding: 10px 0;
  border-bottom: solid 2px #ebedef;
}

.cabecalho .topo .coluna {
  display: flex;
  gap: 5px;
}

.cabecalho .topo .coluna .btn-menu-topo {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  cursor: pointer;
}

.cabecalho .topo .coluna .btn-menu-topo:nth-child(2) {
  border-left: solid 2px #ebedef;
}

.cabecalho .topo .coluna:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho .nav {
  width: 100%;
  border-bottom: solid 2px #ebedef;
}

.cabecalho .nav .menu-principal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho .nav .menu-principal .menu {
  padding: 15px;
  font-weight: 700;
}

.cabecalho .nav .menu-principal .menu:hover {
  opacity: .70;
}

.corpo {
  width: 100%;
}

.corpo .secao-destaque-principal {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

body .page {
  width: 100%;
}

.logo {
  height: 40px;
}

.icon-site {
  font-size: 20px;
  color: #0031FF;
}

.img-noticia {
  width: 250px;
}

.G1 {
  color: #c4170C;
}

.OGLOBO {
  color: #1E4C9A;
}

.VALOR {
  color: #006767;
}

.GE {
  color: #06AA48;
}

.CARTOLA {
  color: #FF7400;
}

.GLOBOPLAY {
  color: #FB0234;
}

.GSHOW {
  color: #FF6700;
}

.QUEM {
  color: #333333;
}

.RECEITAS {
  color: #A5147D;
}

.GIGAGLOOB {
  color: #00C4A2;
}
